@import "https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,600,700";
:root {
    /* Typography */

    --font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;

    /* Color Palette */

    --color-mono--000: #fafafa;
    --color-mono--100: #f3f3f3;
    --color-mono--200: #ebebeb;
    --color-mono--300: #e0e0e0;
    --color-mono--400: #ccc;
    --color-mono--500: #919191;
    --color-mono--600: #757575;
    --color-mono--700: #575757;
    --color-mono--800: #383838;
    --color-mono--900: #262626;
    --color-warm--000: #fafaf7;
    --color-warm--100: #f5f5f0;
    --color-warm--200: #ebebe4;
    --color-warm--300: #e0e0d7;
    --color-warm--400: #cfcfbc;
    --color-warm--500: #949485;
    --color-warm--600: #787869;
    --color-warm--700: #595947;
    --color-warm--800: #3b3b2a;
    --color-warm--900: #29291b;
    --color-cool--000: #f7fafc;
    --color-cool--100: #edf2f7;
    --color-cool--200: #e4ecf5;
    --color-cool--300: #d3e0ed;
    --color-cool--400: #bfd0e3;
    --color-cool--500: #8394a6;
    --color-cool--600: #647a8f;
    --color-cool--700: #445a70;
    --color-cool--800: #2a3c4f;
    --color-cool--900: #1c2936;
    --color-blue--000: #f5fcff;
    --color-blue--100: #ebf7fc;
    --color-blue--200: #d7f1fc;
    --color-blue--300: #c2ebfc;
    --color-blue--400: #8ce0ff;
    --color-blue--500: #31aade;
    --color-blue--600: #268fbd;
    --color-blue--700: #0873a1;
    --color-blue--800: #004969;
    --color-blue--900: #003247;
    --color-green--000: #f0fcf5;
    --color-green--100: #e8faf1;
    --color-green--200: #daf5e5;
    --color-green--300: #c2f0d6;
    --color-green--400: #94ebbb;
    --color-green--500: #54b364;
    --color-green--600: #489448;
    --color-green--700: #2e732e;
    --color-green--800: #144f14;
    --color-green--900: #0d360d;
    --color-yellow--000: #fffff2;
    --color-yellow--100: #ffffd9;
    --color-yellow--200: #fffab3;
    --color-yellow--300: #ffee80;
    --color-yellow--400: #ffde59;
    --color-yellow--500: #fb0;
    --color-yellow--600: #d17d00;
    --color-yellow--700: #b36b00;
    --color-yellow--800: #8c4b00;
    --color-yellow--900: #663000;
    --color-red--000: #fff7f9;
    --color-red--100: #fcf0f3;
    --color-red--200: #ffe2e7;
    --color-red--300: #ffd1d9;
    --color-red--400: #fcb6c2;
    --color-red--500: #eb5965;
    --color-red--600: #c9404c;
    --color-red--700: #b32733;
    --color-red--800: #85151e;
    --color-red--900: #4d1315;
    --color-brand-red--000: #fff7f7;
    --color-brand-red--100: #faf0f0;
    --color-brand-red--200: #ffe2e2;
    --color-brand-red--300: #ffd1d1;
    --color-brand-red--400: #ffb5b5;
    --color-brand-red--500: #ff5a5f;
    --color-brand-red--600: #e64343;
    --color-brand-red--700: #c72828;
    --color-brand-red--800: #821616;
    --color-brand-red--900: #520b0b;
    --color-brand-blue--000: #f2feff;
    --color-brand-blue--100: #e8f8fa;
    --color-brand-blue--200: #d5f1f5;
    --color-brand-blue--300: #bceef5;
    --color-brand-blue--400: #8ae6f2;
    --color-brand-blue--500: #28b5c7;
    --color-brand-blue--600: #109cad;
    --color-brand-blue--700: #007987;
    --color-brand-blue--800: #004e57;
    --color-brand-blue--900: #003238;
}
:root { /* stylelint-disable-line */
    --font-family--mono: Menlo, Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;

    /* Gaps */

    --gap--small: 5px;
    --gap: 10px;
    --gap--large: 20px;


    /* Base components */

    --font-size: 12px;
    --font-size--small: .8em;
    --font-size--large: 1.5em;
    --control-height: 2.3335em;
    --control-height--small: 18px;
    --control-height--large: 2.66675em;

    /* UI Colours: black on white */

    --ui-background: white;
    --ui-color: var(--ui-color--black);
    --ui-color--default: var(--color-mono--200);
    --ui-color--default--hover: var(--color-mono--300);
    --ui-color--cta: var(--color-blue--500);
    --ui-color--cta--hover: var(--color-blue--600);
    --ui-color--accent: var(--color-brand-red--500);
    --ui-color--accent--hover: var(--color-brand-red--600);
    --ui-color--inverse: var(--ui-color--white);
    --ui-color--primary: var(--color-blue--600);
    --ui-color--secondary: var(--color-cool--600);
    --ui-color--muted: var(--color-cool--400);
    --ui-color--black: var(--color-mono--800);
    --ui-color--white: white;
    --ui-color--mono: var(--color-mono--600);
    --ui-color--cool: var(--color-cool--600);
    --ui-color--warm: var(--color-warm--600);
    --ui-color--blue: var(--color-blue--600);
    --ui-color--yellow: var(--color-yellow--600);
    --ui-color--green: var(--color-green--600);
    --ui-color--red: var(--color-red--600);
    --ui-color--brand-red: var(--color-brand-red--600);
    --ui-color--brand-blue: var(--color-brand-blue--600);
    --ui-color--mono--pale: var(--color-mono--000);
    --ui-color--cool--pale: var(--color-cool--000);
    --ui-color--warm--pale: var(--color-warm--000);
    --ui-color--blue--pale: var(--color-blue--000);
    --ui-color--yellow--pale: var(--color-yellow--000);
    --ui-color--green--pale: var(--color-green--000);
    --ui-color--red--pale: var(--color-red--000);
    --ui-color--brand-red--pale: var(--color-brand-red--000);
    --ui-color--brand-blue--pale: var(--color-brand-blue--000);


    /* Tabs */

    --tab-slider-size: 2px;
    --tab-slider-color: var(--color-warm--200);
    --tab-slider-color--active: var(--color-blue--500);


    /* Borders */

    --border-color: var(--color-cool--400);
    --border-color--merged: var(--color-cool--400);
    --border-color--focus: var(--color-blue--600);
    --border-shadow--focus: var(--color-blue--300);
    --border-color--hover: var(--color-blue--500);
    --border-radius: 4px;


    /* Inputs */

    --input-background: var(--ui-color--white);
    --input-background--readonly: var(--color-warm--100);
    --input-background--disabled: var(--color-cool--200);
    --input-color: var(--ui-color--black);
    --input-color--placeholder: var(--color-cool--400);

    /* Frameless */
    --button-background--frameless: var(--ui-color--cool--pale);
}
@media not print {
    .theme--night-dark {
        --ui-background: var(--color-cool--800);
        --ui-color--default: rgba(0, 0, 0, .5);
        --ui-color--default--hover: black;
        --ui-color: white;
        --ui-color--inverse: var(--ui-color--black);
        --ui-color--primary: var(--color-blue--400);
        --ui-color--secondary: var(--color-cool--400);
        --ui-color--muted: var(--color-cool--500);
        --ui-color--mono: var(--color-mono--400);
        --ui-color--cool: var(--color-cool--400);
        --ui-color--warm: var(--color-warm--400);
        --ui-color--blue: var(--color-blue--400);
        --ui-color--yellow: var(--color-yellow--400);
        --ui-color--green: var(--color-green--400);
        --ui-color--red: var(--color-red--400);
        --ui-color--brand-red: var(--color-brand-red--400);
        --ui-color--brand-blue: var(--color-brand-blue--400);
        --ui-color--mono--pale: var(--color-mono--700);
        --ui-color--cool--pale: var(--color-cool--700);
        --ui-color--warm--pale: var(--color-warm--700);
        --ui-color--blue--pale: var(--color-blue--700);
        --ui-color--yellow--pale: var(--color-yellow--700);
        --ui-color--green--pale: var(--color-green--700);
        --ui-color--red--pale: var(--color-red--700);
        --ui-color--brand-red--pale: var(--color-brand-red--700);
        --ui-color--brand-blue--pale: var(--color-brand-blue--700);

        /* Tabs */

        /* --tab-slider-size: 2px; */
        --tab-slider-color: var(--color-cool--900);
        --tab-slider-color--active: var(--ui-color--blue);

        /* Borders */

        --border-color: var(--color-cool--600);
        --border-color--merged: var(--color-cool--600);
        --border-color--focus: var(--color-blue--600);
        --border-shadow--focus: var(--color-blue--400);
        --border-color--hover: var(--color-blue--300);

        /* --border-radius: 4px; */


        /* Inputs */

        --input-background: var(--ui-background);
        --input-background--readonly: var(--color-cool--700);
        --input-background--disabled: var(--color-mono--700);
        --input-color: var(--ui-color--white);
        --input-color--placeholder: var(--ui-color--muted);

        /* Frameless */
        --button-background--frameless: var(--ui-color--cool--pale);

        background: var(--ui-background);
        color: var(--ui-color);
    }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
img,
ins,
kbd,
q,
s,
samp,
tt,
var,
fieldset,
form,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
article,
aside,
footer,
header,
section {
    display: block;
}
input,
textarea,
button,
select {
    font: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
blockquote,
q {
    quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}
/* Semantic tags styled */
/* Base states */
:disabled,
[disabled] {
    cursor: not-allowed;
    pointer-events: none;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1;
    background: var(--ui-background);
    color: var(--ui-color);
    height: auto;
    min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
small,
strike,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
label,
legend {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
hr {
    margin: var(--gap) 0;
    border: 0;
    height: 1px;
    background: var(--color-mono--300);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
}
label {
    cursor: pointer;
    font-weight: 400;
}
form label {
    display: inline-block;
    margin: 0 0 .25em;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 500;
}
label[disabled] {
    opacity: .5;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 560" fill="grey"><path d="M480 344.2L268.9 131.9c-15.8-15.9-41.3-15.9-57.1 0 -15.8 15.9-15.8 41.6 0 57.4l237.6 238.9c8.4 8.5 19.6 12.3 30.6 11.7 11 0.6 22.2-3.2 30.6-11.7l237.6-238.9c15.8-15.9 15.8-41.6 0-57.4s-41.3-15.9-57.1 0L480 344.2z"/></svg>');
    background-position: 100%;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-color: transparent;
    color: inherit;
    height: 2em;
    padding: 0 2em 0 var(--gap--small);
    border-radius: 4px;
    border: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: var(--font-family);
    font-size: 1em;
    line-height: initial;
}
select:hover {
    cursor: pointer;
}
select[disabled] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="grey" viewBox="0 0 960 560"><path d="M480 344.2L268.9 131.9c-15.8-15.9-41.3-15.9-57.1 0 -15.8 15.9-15.8 41.6 0 57.4l237.6 238.9c8.4 8.5 19.6 12.3 30.6 11.7 11 0.6 22.2-3.2 30.6-11.7l237.6-238.9c15.8-15.9 15.8-41.6 0-57.4s-41.3-15.9-57.1 0L480 344.2z"/></svg>');
}
select[multiple] {
    height: auto;
}
option {
    color: #000;
}
input,
textarea {
    display: inline-block;
    box-sizing: border-box;
    padding: calc((var(--control-height) - var(--font-size) * 1.35) / 2) .5em;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--input-background);
    color: var(--input-color);
    text-overflow: ellipsis;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.35;
    letter-spacing: 0;
}
textarea {
    line-height: 1.35;
    min-height: var(--control-height);
    width: 100%;
}
input::placeholder,
textarea::placeholder {
    color: var(--input-color--placeholder);
}
input:hover,
textarea:hover,
select:hover {
    border-color: var(--border-color--hover);
}
a {
    cursor: pointer;
    color: var(--color-blue--500);
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
button {
    display: inline-flex;
    box-sizing: border-box;
    height: var(--control-height);
    padding: calc((var(--control-height) - 1em) / 2 - 2px) 1.25em;
    border-radius: 4px;
    border: 0;
    background-color: var(--ui-color--default);
    fill: var(--ui-color);
    color: var(--ui-color);
    font-size: 1em;
    font-family: var(--font-family);
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: .01em;
    cursor: pointer;
}
button[disabled] {
    cursor: not-allowed;
    color: var(--color-mono--500);
    fill: var(--color-mono--500);
    opacity: .7;
}
button:hover {
    background: var(--ui-color--default--hover);
    color: var(--ui-color);
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: none;
}
input[type="radio"],
input[type="checkbox"] {
    height: auto;
    margin: 0 var(--gap--small) 0 0;
}
input[readonly],
textarea[readonly] {
    background: var(--input-background--readonly);
    box-shadow: none;
}
input[disabled],
textarea[disabled] {
    background: var(--input-background--disabled);
    color: var(--ui-color--secondary);
}
button:focus,
input:focus,
textarea:focus,
select:focus,
a:focus,
a:active {
    box-shadow: 0 0 0 2px var(--border-shadow--focus);
    outline: none;
}
input:focus,
textarea:focus,
select:focus {
    border-color: var(--border-color--focus);
}
p {
    line-height: 1.5;
    margin: .5em 0;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
li {
    line-height: 1.5;
    margin: 0 0 .65em 1.4em;
    list-style-position: outside;
}
b {
    font-weight: 600;
}
strong {
    font-weight: 700;
}
time,
code,
pre {
    font-family: var(--font-family--mono);
    word-wrap: break-word;
    word-break: break-word;
}
code {
    font-size: inherit;
    font-weight: inherit;
}
pre {
    line-height: 1.6;
    white-space: pre-wrap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin: 0 0 2rem;
}
h1 {
    margin: 0 0 2rem;
    font-size: 32px;
    font-weight: 300;
}
h2 {
    font-size: 25px;
    line-height: 1;
    font-weight: 300;
}
h3 {
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
}
h4 {
    font-size: 18px;
    font-weight: 500;
}
h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 1rem;
}
h6 {
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 1rem;
}
sub {
    font-size: 70%;
}
mark {
    background-color: var(--color-yellow--400);
    border-radius: 2px;
    box-shadow: 1px 0 0 var(--color-yellow--400), -1px 0 0 var(--color-yellow--400);
}
menu li {
    margin: 0;
    padding: 0;
}
/* Core UI components */
.spinner {
    animation: spin 1.3s infinite linear;
    width: 2em;
    height: 2em;
}
.spinner.button__icon {
    height: 1em;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}
.button {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    padding: 0 1.25em;
    height: var(--control-height);
    line-height: var(--control-height);
    border-radius: 4px;
    border: 0;
    background-color: var(--ui-color--default);
    fill: var(--ui-color);
    color: var(--ui-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: .01em;
    text-decoration: none;
    cursor: pointer;
}
.button:visited {
    color: var(--ui-color);
}
.button:hover {
    text-decoration: none;
    background-color: var(--ui-color--default--hover);
    color: var(--ui-color);
}
.button:focus,
.button:active {
    box-shadow: 0 0 0 2px var(--border-shadow--focus);
    outline: none;
}
.button--primary,
.button--primary:visited {
    background: var(--ui-color--cta);
    color: white;
}
.button--primary:hover {
    background: var(--ui-color--cta--hover);
    color: white;
}
.button--secondary,
.button--secondary:visited {
    color: var(--ui-color--cta);
    background: transparent;
    border: 2px solid currentColor;
    line-height: calc(var(--control-height) - 4px);
}
.button--secondary.button--small {
    border-width: 1px;
    line-height: calc(var(--control-height--small) - 2px);
}
.button--secondary.button--large {
    line-height: calc(var(--control-height--large) - 4px);
}
.button--secondary:hover {
    background: transparent;
    color: var(--ui-color--cta--hover);
}
.button--accent,
.button--accent:visited {
    background: var(--ui-color--accent);
    color: white;
}
.button--accent:hover {
    background: var(--ui-color--accent--hover);
    color: white;
}
.button[disabled] {
    color: var(--color-mono--500);
    fill: var(--color-mono--500);
    opacity: .7;
    background-color: var(--ui-color--default);
    border-color: transparent;
}
.button.frameless {
    color: var(--ui-color);
    background: transparent;
}
.button.frameless:hover {
    background: var(--button-background--frameless);
}
.button--primary.frameless { color: var(--ui-color--primary); }
.button--secondary.frameless { color: var(--ui-color--secondary); }
.button--accent.frameless { color: var(--ui-color--accent); }
.button--inverse.frameless { color: var(--ui-background); }
.button--muted.frameless { color: var(--ui-color--muted); }
.button--small {
    font-size: var(--font-size--small);
    height: var(--control-height--small);
    line-height: var(--control-height--small);
    padding: 0 .85em;
    border-radius: 2px;
}
.button--large {
    font-size: var(--font-size--large);
    height: var(--control-height--large);
    line-height: var(--control-height--large);
    padding: 0 1.25em;
    border-radius: calc(var(--border-radius) * 1.5);
}
.button--icon {
    padding: 0;
    width: calc(var(--control-height) * 1.2);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.button--icon.button--large {
    width: calc(var(--control-height--large) * 1.1);
}
.button--icon.button--small {
    width: calc(var(--control-height--small) * 1.3);
}
.button__icon {
    position: relative;
    width: auto;
    color: currentColor;
    fill: currentColor;
    margin-right: .3em;
    left: -.1em;
    flex-shrink: 0;
    line-height: inherit;
    vertical-align: baseline;
    align-self: center;
}
.button--icon svg,
.button--icon .button__icon {
    height: 1em;
    fill: currentColor;
    color: currentColor;
    left: 0;
    margin: 0;
}
.button select {
    line-height: initial;
    margin: 0 calc(-1 * 1.25em);
    padding: 0 2em 0 var(--gap--small);
}
.button--small select {
    margin: 0 calc(-1 * .85em);
}
select.button {
    padding: 0 2em 0 var(--gap--small);
    letter-spacing: 0;
}
input.button {
    padding: 0 var(--gap--small);
    text-align: center;
}
.icon {
    display: inline-flex;
    width: var(--control-height);
    align-items: center;
    justify-content: start;
}
.icon--small {
    width: var(--control-height--small);
    font-size: var(--font-size--small);
}
.icon--large {
    width: var(--control-height--large);
    font-size: var(--font-size--large);
}
.input {
    display: inline-flex;
    box-sizing: border-box;
    height: var(--control-height);
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--input-background);
    color: var(--input-color);
}
.input--small {
    font-size: .95em;
    height: var(--control-height--small);
}
.input--large {
    font-size: var(--font-size--large);
}
.input:hover {
    border-color: var(--border-color--hover);
}
.input.frameless {
    color: var(--ui-color);
}
.input.frameless::placeholder {
    color: var(--ui-color--muted);
}
.input.frameless:hover {
    border-color: transparent;
    background: transparent;
}
.input:focus,
.input:focus-within {
    border-color: var(--border-color--focus);
    box-shadow: 0 0 0 2px var(--border-shadow--focus);
    outline: none;
}
.input input,
.input textarea {
    border: 0;
    box-shadow: none;
    flex: 1;
    background: transparent;
}
.input.frameless input,
.input.frameless textarea {
    color: var(--ui-color);
}
.input input::placeholder,
.input textarea::placeholder {
    color: var(--ui-color--muted);
}
.input select {
    line-height: initial;
}
.input--area {
    height: auto;
}
.input--area--fixed {
    resize: vertical;
}
.input * {
    max-height: 100%;
}
.input .icon {
    justify-content: center;
    align-items: center;
}
.input--block {
    display: block;
    width: 100%;
}
.input[disabled] {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
}
.toggle {
    --toggle__width: 4em;
    --toggle__height: 1em;

    font-size: 1em;
    display: inline-grid;
    grid-gap: var(--gap--small);
    align-items: center;
    grid-auto-flow: column;
    justify-self: start;
}
.toggle__toggler {
    position: relative;
    display: inline-block;
    width: var(--toggle__width);
    height: calc(2 * 3px + var(--toggle__height));
    vertical-align: middle;
}
.toggle__label {
    font-weight: 500;
}
.toggle__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    margin: 0 !important;
    padding: 0;
    border-radius: var(--toggle__height);
    cursor: pointer;
    background-color: var(--ui-color--default);
    transition: .4s;
}
.toggle__slider::before {
    content: '';
    position: absolute;
    left: 3px;
    bottom: 3px;
    display: block;
    height: var(--toggle__height);
    width: var(--toggle__height);
    border-radius: 50%;
    background-color: var(--ui-background);
    transition: .4s;
}
.toggle__input {
    display: none;
    visibility: hidden;
}
.toggle__slider--off {
    background-color: var(--ui-color--default);
}
.toggle__slider--on {
    background-color: var(--ui-color--primary);
}
.toggle__slider--on::before {
    transform: translateX(calc(var(--toggle__width) - var(--toggle__height) - 6px));
}
.toggle__slider::after {
    position: absolute;
    top: 3px;
    bottom: 3px;
    line-height: var(--toggle__height);
    color: var(--ui-background);
    height: var(--toggle__height);
    width: calc(var(--toggle__width) - 2 * var(--toggle__height));
}
.toggle__slider--on::after {
    content: 'On';
    left: 6px;
}
.toggle__slider--off::after {
    content: 'Off';
    color: var(--ui-color);
    left: calc(var(--toggle__height) + 7px);
    text-align: left;
}
.badge {
    display: inline-grid;
    grid-gap: 4px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    border-radius: 2px;
    border: 0;
    white-space: nowrap;
    text-align: center;
    letter-spacing: .6px;
    font-weight: 500;
    font-size: var(--font-size--small);
    color: var(--ui-background);
    background-color: var(--ui-color--mono);
    line-height: calc(1.1 * var(--control-height--small));
    height: var(--control-height--small);
    min-width: var(--control-height--small);
    padding: 0 .5em;
    text-decoration: none;
    text-transform: uppercase;
}
.badge--production { background-color: var(--color-brand-red--500); }
.badge--staging { background-color: var(--color-yellow--500); }
.badge--development { background: var(--color-red--700); }
.badge--mono { background-color: var(--ui-color--mono); }
.badge--cool { background-color: var(--ui-color--cool); }
.badge--warm { background-color: var(--ui-color--warm); }
.badge--blue { background-color: var(--ui-color--blue); }
.badge--brand-blue { background-color: var(--ui-color--brand-blue); }
.badge--yellow { background-color: var(--ui-color--yellow); }
.badge--red { background-color: var(--ui-color--red); }
.badge--brand-red { background-color: var(--ui-color--brand-red); }
.badge--green { background-color: var(--ui-color--green); }
.badge[class*="--light"],
.badge[class*="--light"]:hover {
    color: var(--ui-color--black);
}
.badge--mono--light { background-color: var(--color-mono--400); }
.badge--cool--light { background-color: var(--color-cool--400); }
.badge--warm--light { background-color: var(--color-warm--400); }
.badge--blue--light { background-color: var(--color-blue--400); }
.badge--yellow--light { background-color: var(--color-yellow--400); }
.badge--red--light { background-color: var(--color-red--400); }
.badge--green--light { background-color: var(--color-green--400); }
.badge--brand-red--light { background-color: var(--color-brand-red--400); }
.badge--brand-blue--light { background-color: var(--color-brand-blue--400); }
.badge[class*="--outline"] {
    box-shadow: 0 0 0 1px currentColor inset;
    background: transparent;
}
.badge--outline { color: var(--ui-color--mono); }
.badge--mono--outline { color: var(--ui-color--mono); }
.badge--cool--outline { color: var(--ui-color--cool); }
.badge--warm--outline { color: var(--ui-color--warm); }
.badge--blue--outline { color: var(--ui-color--blue); }
.badge--yellow--outline { color: var(--ui-color--yellow); }
.badge--red--outline { color: var(--ui-color--red); }
.badge--green--outline { color: var(--ui-color--green); }
.badge--brand-red--outline { color: var(--ui-color--brand-red); }
.badge--brand-blue--outline { color: var(--ui-color--brand-blue); }
.badge--small {
    font-size: 8px;
    line-height: 14px;
    height: 14px;
    min-width: 14px;
}
.badge--inline {
    height: auto;
    line-height: 1.1;
    padding: 2px 4px;
    text-transform: initial;
    font-size: .85em;
    font-weight: 400;
}
.badge--large {
    line-height: var(--control-height);
    height: var(--control-height);
    min-width: var(--control-height);
    font-size: var(--font-size);
}
.badge--fixed {
    min-width: 14ch;
    max-width: 100%;
}
.badge--round {
    border-radius: var(--control-height--small);
    justify-content: center;
}
.badge--round.badge--small { border-radius: 14px; }
.badge--round.badge--large { border-radius: var(--control-height); }
.loader {
    height: var(--gap);
    text-align: center;
    display: inline-flex;
    color: var(--color-cool--400);
}
.loader--small { height: var(--gap--small); }
.loader--large { height: var(--gap--large); }
.loader__rect {
    background: currentColor;
    height: 100%;
    width: 4px;
    border-radius: 1.5px;
    margin: 0 2px;
    animation: loading 1s ease-in-out infinite;
}
.loader__rect2 {
    animation-delay: -1.1s;
}
.loader__rect3 {
    animation-delay: -1s;
}
.loader__rect4 {
    animation-delay: -.9s;
}
.loader__rect5 {
    animation-delay: -.8s;
}
@keyframes loading {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 2.2);
    }

    40% {
        transform: scale(1);
    }
}
.progress-bar {
    color: var(--color-cool--400);
    display: flex;
    position: relative;
    min-width: 5vw;
    font-size: 10px;
    background: var(--color-cool--100);
    box-shadow: 0 0 0 1px currentColor inset;
    vertical-align: middle;
    line-height: 15px;
    overflow: hidden;
    border-radius: 1px;
}
.progress-bar--large {
    line-height: 26px;
    font-size: 15px;
    border-radius: 3px;
}
.progress-bar__width {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: var(--color-cool--400);
    border-radius: inherit;
    transition: width 1s;
}
.progress-bar__counter {
    align-self: center;
    margin-left: auto;
    font-weight: 600;
    padding: 0 var(--gap--small);
    color: var(--color-mono--800);
    z-index: 1;
}
.tag {
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    line-height: 1.75em;
    width: auto;
    color: var(--ui-color--black);
    border-radius: 1px;
    font-weight: 500;
}
.tag__remover {
    color: var(--ui-color--white);
    margin-left: 2px;
    padding: 0 var(--gap--small);
    background-color: var(--color-mono--200);
}
.tag__label {
    background-color: var(--color-mono--200);
    padding: 0 var(--gap--small);
    color: inherit;
    width: 100%;
}
.tag--mono > * { background-color: var(--color-mono--400); }
.tag--cool > * { background-color: var(--color-cool--400); }
.tag--warm > * { background-color: var(--color-warm--400); }
.tag--blue > * { background-color: var(--color-blue--400); }
.tag--yellow > * { background-color: var(--color-yellow--400); }
.tag--red > * { background-color: var(--color-red--400); }
.tag--green > * { background-color: var(--color-green--400); }
.tag--brand-red > * { background-color: var(--color-brand-red--400); }
.tag--brand-blue > * { background-color: var(--color-brand-blue--400); }
.group {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
}
.group > * {
    margin: 0;
}
.group--gap > * + * { margin-left: var(--gap); }
.group--gap--small > * + * { margin-left: var(--gap--small); }
.group--gap--large > * + * { margin-left: var(--gap--large); }
.group--no-shrink > * {
    flex-shrink: 0;
}
.group-wrap {
    flex-wrap: wrap;
}
.group--block {
    display: flex;
}
.group--merged {
    flex-wrap: nowrap;
    align-items: stretch;
    white-space: nowrap;
    border-radius: var(--border-radius);
}
.group--merged > * + * {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.group--merged > button + button,
.group--merged > button + .button,
.group--merged > .button + button,
.group--merged > .button + .button {
    margin-left: 0;
}
.group--merged--border > * + * {
    border-left: 1px solid var(--border-color--merged);
}
.group--semi-merged {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 2px;
    align-content: center;
}
.group--semi-merged > * {
    border-radius: 0;
}
.group--semi-merged > *:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.group--semi-merged > *:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.group--merged > *:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.box {
    padding: var(--gap) 30px var(--gap) var(--gap--large);
    border: 2px solid transparent;
    line-height: 1.6;
    border-radius: var(--border-radius);
    font-weight: 400;
    font-size: var(--font-size);
    box-sizing: border-box;
}
.box--center {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.box--mono {
    background: var(--color-mono--100);
    color: var(--color-mono--600);
}
.box--cool {
    background: var(--color-cool--100);
    color: var(--color-cool--600);
}
.box--warm {
    background: var(--color-warm--100);
    color: var(--color-warm--600);
}
.box--blue {
    background: var(--color-blue--100);
    color: var(--color-blue--600);
}
.box--yellow {
    background: var(--color-yellow--100);
    color: var(--color-yellow--600);
}
.box--red {
    background: var(--color-red--100);
    color: var(--color-red--600);
}
.box--green {
    background: var(--color-green--100);
    color: var(--color-green--600);
}
.box--brand-red {
    background: var(--color-brand-red--100);
    color: var(--color-brand-red--600);
}
.box--brand-blue {
    background: var(--color-brand-blue--100);
    color: var(--color-brand-blue--600);
}
.box--mono--outline {
    background: var(--color-mono--000);
    color: var(--color-mono--500);
}
.box--cool--outline {
    background: var(--color-cool--000);
    color: var(--color-cool--500);
    border-color: currentColor;
}
.box--warm--outline {
    background: var(--color-warm--000);
    color: var(--color-warm--500);
    border-color: currentColor;
}
.box--blue--outline {
    background: var(--color-blue--000);
    color: var(--color-blue--600);
    border-color: currentColor;
}
.box--yellow--outline {
    background: var(--color-yellow--000);
    color: var(--color-yellow--600);
    border-color: currentColor;
}
.box--red--outline {
    background: var(--color-red--000);
    color: var(--color-red--600);
    border-color: currentColor;
}
.box--green--outline {
    background: var(--color-green--000);
    color: var(--color-green--600);
    border-color: currentColor;
}
.box--brand-red--outline {
    background: var(--color-brand-red--00);
    color: var(--color-brand-red--500);
    border-color: currentColor;
}
.box--brand-blue--outline {
    background: var(--color-brand-blue--00);
    color: var(--color-brand-blue--500);
    border-color: currentColor;
}
.box--outline {
    border-color: currentColor;
}
.box--small {
    padding: var(--gap--small) var(--gap--large);
    font-size: var(--font-size--small);
}
.box--large {
    padding: var(--gap--large) calc(2 * var(--gap--large));
    font-size: var(--font-size--large);
}
.box--panel {
    padding: var(--gap);
    line-height: 1.6;
    font-size: var(--font-size);
    color: var(--ui-color);
}
.box--panel--mono { background: var(--color-mono--200); }
.box--panel--cool { background: var(--color-cool--200); }
.box--panel--warm { background: var(--color-warm--200); }
.box--panel--blue { background: var(--color-blue--200); }
.box--panel--yellow { background: var(--color-yellow--200); }
.box--panel--green { background: var(--color-green--200); }
.box--panel--red { background: var(--color-red--200); }
.box--panel--border {
    border-radius: var(--border-radius);
}
.box--panel--small { padding: var(--gap--small); }
.box--panel--large { padding: var(--gap--large); }
.tabs {
    display: flex;
    align-items: baseline;
    list-style: none;
    border-bottom: var(--tab-slider-size) solid var(--tab-slider-color);
    margin: 0;
}
.tabs__item {
    position: relative;
    top: var(--tab-slider-size);
    padding: var(--gap);
    border-bottom: var(--tab-slider-size) solid var(--tab-slider-color);
    color: inherit;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}
.tabs__item:hover {
    color: currentColor;
}
.tabs__item:active,
.tabs__item:focus {
    box-shadow: none;
}
.tabs__item::after {
    content: '';
    position: absolute;
    display: block;
    bottom: calc(-1 * var(--tab-slider-size));
    left: 0;
    height: var(--tab-slider-size);
    width: 0%;
    background: transparent;
    border-radius: var(--tab-slider-size);
    transition: width .4s;
}
.tabs__item--active,
.tabs__item.active {
    font-weight: 500;
}
.tabs__item--active::after,
.tabs__item.active::after {
    background: var(--tab-slider-color--active);
    width: 100%;
}
.tabs__icon {
    width: 1.5em;
}
.tabs__slot {
    margin-left: auto;
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: var(--gap);
    align-items: center;
}
.block {
    padding: var(--gap);
    line-height: 1.6;
    font-size: var(--font-size);
}
.block--mono--pale {
    background: var(--color-mono--100);
    color: var(--ui-color--black);
}
.block--cool--pale {
    background: var(--color-cool--100);
    color: var(--ui-color--black);
}
.block--warm--pale {
    background: var(--color-warm--100);
    color: var(--ui-color--black);
}
.block--blue--pale {
    background: var(--color-blue--100);
    color: var(--ui-color--black);
}
.block--yellow--pale {
    background: var(--color-yellow--100);
    color: var(--ui-color--black);
}
.block--green--pale {
    background: var(--color-green--100);
    color: var(--ui-color--black);
}
.block--red--pale {
    background: var(--color-red--100);
    color: var(--ui-color--black);
}
.block--brand-red--pale {
    background: var(--color-brand-red--100);
    color: var(--ui-color--black);
}
.block--brand-blue--pale {
    background: var(--color-brand-blue--100);
    color: var(--ui-color--black);
}
.block--mono {
    background: var(--color-mono--600);
    color: var(--ui-color--white);
}
.block--cool {
    background: var(--color-cool--600);
    color: var(--ui-color--white);
}
.block--warm {
    background: var(--color-warm--600);
    color: var(--ui-color--white);
}
.block--blue {
    background: var(--color-blue--600);
    color: var(--ui-color--white);
}
.block--yellow {
    background: var(--color-yellow--600);
    color: var(--ui-color--white);
}
.block--green {
    background: var(--color-green--600);
    color: var(--ui-color--white);
}
.block--red {
    background: var(--color-red--600);
    color: var(--ui-color--white);
}
.block--brand-red {
    background: var(--color-brand-red--600);
    color: var(--ui-color--white);
}
.block--brand-blue {
    background: var(--color-brand-blue--600);
    color: var(--ui-color--white);
}
.block--rounded {
    border-radius: var(--border-radius);
}
.block--small { padding: var(--gap--small) var(--gap); }
.block--large { padding: var(--gap--large); }
/* UI helpers */
/* TEXT */
.text--mono { font-family: var(--font-family--mono); }
.text--highlight {
    background-color: var(--color-yellow--400);
    padding: 3px 0;
    border-radius: 2px;
    box-shadow: 3px 0 0 var(--color-yellow--400), -3px 0 0 var(--color-yellow--400);
    color: var(--ui-color--black);
}
.text--truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
}
.text--break {
    word-break: break-all;
}
.text--small {
    font-size: var(--font-size--small);
}
.text--large {
    font-size: var(--font-size--large);
}
.nowrap {
    white-space: nowrap;
}
.code {
    color: var(--color-blue--500);
    font-family: var(--font-family--mono);
    background: var(--color-cool--200);
    display: inline-block;
    padding: 0 3px;
    border-radius: 2px;
    font-size: inherit;
    font-weight: inherit;
}
.pre {
    display: block;
    font-family: var(--font-family--mono);
    line-height: 1.6;
    font-size: 1.1em;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background: var(--color-cool--800);
    color: white;
    border-radius: var(--border-radius);
    padding: var(--gap);
    overflow-x: auto;
}
.no-caps { text-transform: initial; }
.all-caps { text-transform: uppercase; }
/* CONTROLS */
.frameless {
    border-color: transparent;
    box-shadow: none;
    background: transparent;
}
.frameless:hover {
    background: transparent;
}
.select {
    box-shadow: 0 0 0 1px var(--border-color);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .3) inset;
    background-color: var(--color-mono--200);
    height: 2em;
    padding: 0 2em 0 .5em;
    font-weight: 500;
}
/* GRID */
.grid {
    display: grid;
    align-items: start;
    justify-items: start;
    max-width: 100%;
}
.grid--gap { grid-gap: var(--gap); }
.grid--gap--small { grid-gap: var(--gap--small); }
.grid--gap--large { grid-gap: var(--gap--large); }
.shift { margin-left: var(--control-height); }
.shift--small { margin-left: var(--control-height--small); }
.shift--large { margin-left: var(--control-height--large); }
.stretch {
    width: 100%;
    justify-items: stretch;
}
/* VISIBILITY */
.hidden {
    display: none;
}
/* semantic foreground colours */
.color--default { color: var(--ui-color); }
.color--inverse { color: var(--ui-color--inverse); }
.color--primary { color: var(--ui-color--primary); }
.color--secondary { color: var(--ui-color--secondary); }
.color--accent { color: var(--ui-color--accent); }
.color--muted { color: var(--ui-color--muted); }
/* base foreground colours */
.color--mono { color: var(--ui-color--mono); }
.color--cool { color: var(--ui-color--cool); }
.color--warm { color: var(--ui-color--warm); }
.color--blue { color: var(--ui-color--blue); }
.color--yellow { color: var(--ui-color--yellow); }
.color--green { color: var(--ui-color--green); }
.color--red { color: var(--ui-color--red); }
.color--brand-red { color: var(--ui-color--brand-red); }
.color--brand-blue { color: var(--ui-color--brand-blue); }
/* semantic background colours */
.bg--default { background: var(--ui-background); }
/* base background colours */
.bg--mono { background: var(--ui-color--mono); }
.bg--cool { background: var(--ui-color--cool); }
.bg--warm { background: var(--ui-color--warm); }
.bg--blue { background: var(--ui-color--blue); }
.bg--yellow { background: var(--ui-color--yellow); }
.bg--green { background: var(--ui-color--green); }
.bg--red { background: var(--ui-color--red); }
.bg--brand-red { background: var(--ui-color--brand-red); }
.bg--brand-blue { background: var(--ui-color--brand-blue); }
.bg--mono--pale { background: var(--ui-color--mono--pale); }
.bg--cool--pale { background: var(--ui-color--cool--pale); }
.bg--warm--pale { background: var(--ui-color--warm--pale); }
.bg--blue--pale { background: var(--ui-color--blue--pale); }
.bg--yellow--pale { background: var(--ui-color--yellow--pale); }
.bg--green--pale { background: var(--ui-color--green--pale); }
.bg--red--pale { background: var(--ui-color--red--pale); }
.bg--brand-red--pale { background: var(--ui-color--brand-red--pale); }
.bg--brand-blue--pale { background: var(--ui-color--brand-blue--pale); }
.bg--mono--light { background: var(--color-mono--400); }
.bg--cool--light { background: var(--color-cool--400); }
.bg--warm--light { background: var(--color-warm--400); }
.bg--blue--light { background: var(--color-blue--400); }
.bg--yellow--light { background: var(--color-yellow--400); }
.bg--green--light { background: var(--color-green--400); }
.bg--red--light { background: var(--color-red--400); }
.bg--brand-red--light { background: var(--color-brand-red--400); }
.bg--brand-blue--light { background: var(--color-brand-blue--400); }
.bg--mono--dark { background: var(--color-mono--800); }
.bg--cool--dark { background: var(--color-cool--800); }
.bg--warm--dark { background: var(--color-warm--800); }
.bg--blue--dark { background: var(--color-blue--800); }
.bg--yellow--dark { background: var(--color-yellow--800); }
.bg--green--dark { background: var(--color-green--800); }
.bg--red--dark { background: var(--color-red--800); }
.bg--brand-red--dark { background: var(--color-brand-red--800); }
.bg--brand-blue--dark { background: var(--color-brand-blue--800); }
/* Print CSS base */
@media print {
    body {
        color: #000;
        background: white;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .no-print {
        display: none;
    }

    @page {
        margin: 1.5cm;
    }
}
