@import "https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,600,700";
@import "https://universalbasket.github.io/css/static/fa/css/fontawesome-all.css";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, img, ins, kbd, q, s, samp, tt, var,
fieldset, form, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, footer, header, section {
    display: block;
}
input, textarea, button, select {
    font: inherit;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:root {

    /* Typography */

    --font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
    --font-weight: 400;
    --font-size: 12px;

    --font-family--mono: 'Menlo', monospace;
    --font-weight--mono: normal;
    --font-size--mono: 11px;

    /* Gaps */

    --gap: 10px;
    --gap--small: 5px;
    --gap--large: 20px;

    /* Controls */

    --ctl-height: 2em;
    --ctl-height--small: 1.5em;
    --ctl-border-radius: 2px;
    --ctl-border-color: rgba(0,0,0,0.1);

    /* Color Palette */

    --ui-base: #fff; /*mono white*/
    --ui-base--inverse: #242a2e;

    --ui-pale: #F6F6F6;
    --ui-pale--inverse: #000;

    --ui-default: #EDEEEF;
    --ui-default--inverse: #4A4A4A;

    --ui-primary: #2a52a2;
    --ui-primary--inverse: #fff;

    --ui-secondary: #d6d6d0; /*complimantary*/
    --ui-secondary--inverse: #424B54; /*tertiary dark*/

    --ui-tertiary: #E1E9ED;
    --ui-tertiary--inverse: #687789;

    --ui-prod: #FF5A5F;
    --ui-prod--inverse: #fff;

    --ui-stag: #829F59;
    --ui-stag--inverse: #fff;

    --ui-success: #529265;
    --ui-success--inverse: #fff;

    --ui-info: #2c72bb;
    --ui-info--inverse: #DCF2FD;

    --ui-warning: #fbce58;
    --ui-warning--inverse: #866302;

    --ui-failure: #c75068;
    --ui-failure--inverse: #fff;

    --ui-danger: #cb2431;
    --ui-danger--inverse: #fff;

    --ui-muted: #628395; /*tertiary menium*/
    --ui-muted--inverse: #f3f8fb;

}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, small, strike, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
p {
    margin: var(--gap) 0;
    font-size: 12px;
    line-height: 1.35;
}
a {
    cursor: pointer;
    color: var(--ui-primary);
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
p a {
    color: var(--ui-prod);
    text-decoration: underline;
}
b {
    font-weight: 700;
}
strong {
    font-weight: 500;
}
h1 {
    font-size: 26px;
    line-height: 1;
    font-weight: 100;
    margin: var(--gap--large) 0;
}
h2 {
    font-size: 21px;
    line-height: 1;
    font-weight: 200;
    margin: var(--gap--large) 0;
}
h3 {
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    margin: var(--gap--large) 0 var(--gap);
}
h4 {
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    margin: var(--gap--large) 0 var(--gap);
    color: var(--ui-muted);
    text-transform: uppercase;
}
h5 {
    font-size: 130%;
    line-height: 1.5;
    font-weight: 400;
    margin: var(--gap) 0;
}
h6 {
    font-size: 12px;
    line-height: 1.25;
    font-weight: 400;
    margin: var(--gap) 0;
    text-transform: uppercase;
    color: var(--ui-muted);
}
small {
    line-height: 1;
    font-size: 80%;
}
html, body {
    height: 100%;
}
body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1;
    background: var(--ui-base);
    color: var(--ui-base--inverse);
}
ol, ul {
    list-style: none;
}
hr {
    margin: var(--gap) 0;
    border: 1px dashed var(--ui-default);
    border-width: 1px 0 0 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
time, code, pre {
    font-family: var(--font-family--mono);
    font-size: var(--font-size--mono);
    line-height: var(--font__line-height--mono);
    word-wrap: break-word;
    word-break: break-word;
}
img {
    max-width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    height: auto;
    vertical-align: middle;
}
input,
textarea {
    font-family: var(--font-family);
    font-size: var(--font-size);
    border: 1px solid var(--ctl-border-color);
    border-radius: var(--ctl-border-radius);
}
input[readonly],
textarea[readonly] {
    background: var(--ui-pale);
}
select {
    border: 0;
    box-shadow: 0 0 0 1px var(--ctl-border-color);
    font-family: var(--font-family);
}
select[multiple] {
    height: auto;
}
button {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: var(--gap--small);
    height: var(--gap--small);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background: rgba(0,0,0,0.2);
    border-radius: 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(0,0,0,0.25);
}
.btn {
    display: inline-flex;
    align-items: center;
    align-self: center;

    box-sizing: border-box;
    height: var(--ctl-height);
    padding: 0 var(--gap);

    border-radius: var(--ctl-border-radius);
    border: 1px solid rgba(0,0,0,0.1);
    background: var(--ui-default);
    color: var(--ui-default--inverse);

    font-size: var(--font-size);
    font-family: var(--font-family);

    line-height: 1;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.025em;
    text-transform: Capitalize;

    cursor: pointer;
}
.btn:hover {
    text-decoration: none;
}
.btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
.btn--active, .btn:active {
    box-shadow: 0 3px 8px rgba(0,0,0,.2) inset;
    border-color: rgba(0,0,0,.2);
}
.btn__icon {
    color: inherit;
    margin-right: var(--gap--small);
    text-align: center;
}
/* Sizes */
.btn--small {
    font-size: 10px;
    height: var(--ctl-height--small);
    padding: 0 4px;
    white-space: nowrap;
}
.btn--large {
    font-size: 18px;
    padding: 8px 15px;
    border-radius: calc(var(--ctl-border-radius) * 1.5);
}
/* Colors */
.btn--default {
    background: var(--ui-default);
    color: var(--ui-default--inverse);
}
.btn--primary {
    background: var(--ui-primary);
    color: var(--ui-primary--inverse);
}
.btn--accent {
    background: var(--ui-accent);
    color: var(--ui-accent--inverse);
}
.btn--secondary {
    background: var(--ui-secondary);
    color: var(--ui-secondary--inverse);
}
.btn--info {
    background: var(--ui-info);
    color: var(--ui-info--inverse);
}
.btn--success {
    background: var(--ui-success);
    color: var(--ui-success--inverse);
}
.btn--warning {
    background: var(--ui-warning);
    color: var(--ui-warning--inverse);
}
.btn--danger {
    background: var(--ui-danger);
    color: var(--ui-danger--inverse);
}
.btn--failure {
    background: var(--ui-failure);
    color: var(--ui-failure--inverse);
}
.btn--muted {
    background: var(--ui-muted);
    color: var(--ui-muted--inverse);
}
.input {
    display: inline-flex;
    box-sizing: border-box;
    padding: 0 var(--gap--small);
    height: var(--ctl-height);
    border-radius: var(--ctl-border-radius);
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: none;

    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1;
    letter-spacing: 0.025em;

    cursor: pointer;
}
.input--block {
    display: block;
    width: 100%;
}
.input[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
.group {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
.group--block {
    display: flex;
}
.group--gap > * + * {
    margin-left: var(--gap);
}
.group--gap--small > * + * {
    margin-left: var(--gap--small);
}
.group--nowrap {
    flex-wrap: nowrap;
}
.group--merged {
    white-space: nowrap;
}
.group--merged > *:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.group--merged > * + * {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.block {
    margin: var(--gap) 0;
}
.block--small {
    margin: var(--gap--small) 0;
}
.block--large {
    margin: var(--gap--large) 0;
}
.tabs {
    --slider-size: 2px;

    display: flex;
    align-items: baseline;
    list-style: none;
    border-bottom: var(--slider-size) solid var(--ui-pale);
    margin: 0;
}
.tabs__item {
    padding: var(--gap);
    position: relative;
    top: var(--slider-size);
    background: var(--ui-base);
    border-bottom: var(--slider-size) solid var(--ui-pale);
    margin: 0 var(--gap--small) 0 0;
    text-decoration: none;
    color: var(--ui-secondary--inverse);
    font-size: 13px;
    font-weight: 300;
}
.tabs__item:after {
    content: '';
    position: absolute;
    display: block;
    bottom: calc(-1 * var(--slider-size));
    left: 0;
    height: var(--slider-size);
    width: 0%;
    background: transparent;
    border-radius: var(--slider-size);
    transition: width 0.4s;
}
.tabs__item--active {
    font-weight: 500;
}
.tabs__item--active:after {
    background: var(--ui-primary);
    width: 100%;
}
.tab {
    padding: var(--gap);
}
.badge {
    font-size: 10px;
    line-height: 1.3;
    display: inline-block;
    border-radius: var(--ctl-border-radius);
    margin: 0 var(--gap--small) 0 0;
    background: var(--ui-pale);
    padding: 2px 4px;
}
.badge--outlined {
    box-shadow: 0 0 0 1px var(--ui-info) inset;
    color: var(--ui-info);
    background: transparent;
}
.badge--failure {
    background: var(--ui-failure);
    color: var(--ui-failure--inverse);
}
.badge--success {
    background: var(--ui-success);
    color: var(--ui-success--inverse);
}
.badge--warning {
    background: var(--ui-warning);
    color: var(--ui-warning--inverse);
}
.badge--info {
    background: var(--ui-info);
    color: var(--ui-info--inverse);
}
