/* semantic background colours */
.bg--default { background: var(--ui-background); }

/* base background colours */
.bg--mono { background: var(--ui-color--mono); }
.bg--cool { background: var(--ui-color--cool); }
.bg--warm { background: var(--ui-color--warm); }
.bg--blue { background: var(--ui-color--blue); }
.bg--yellow { background: var(--ui-color--yellow); }
.bg--green { background: var(--ui-color--green); }
.bg--red { background: var(--ui-color--red); }
.bg--brand-red { background: var(--ui-color--brand-red); }
.bg--brand-blue { background: var(--ui-color--brand-blue); }

.bg--mono--pale { background: var(--ui-color--mono--pale); }
.bg--cool--pale { background: var(--ui-color--cool--pale); }
.bg--warm--pale { background: var(--ui-color--warm--pale); }
.bg--blue--pale { background: var(--ui-color--blue--pale); }
.bg--yellow--pale { background: var(--ui-color--yellow--pale); }
.bg--green--pale { background: var(--ui-color--green--pale); }
.bg--red--pale { background: var(--ui-color--red--pale); }
.bg--brand-red--pale { background: var(--ui-color--brand-red--pale); }
.bg--brand-blue--pale { background: var(--ui-color--brand-blue--pale); }

.bg--mono--light { background: var(--color-mono--400); }
.bg--cool--light { background: var(--color-cool--400); }
.bg--warm--light { background: var(--color-warm--400); }
.bg--blue--light { background: var(--color-blue--400); }
.bg--yellow--light { background: var(--color-yellow--400); }
.bg--green--light { background: var(--color-green--400); }
.bg--red--light { background: var(--color-red--400); }
.bg--brand-red--light { background: var(--color-brand-red--400); }
.bg--brand-blue--light { background: var(--color-brand-blue--400); }

.bg--mono--dark { background: var(--color-mono--800); }
.bg--cool--dark { background: var(--color-cool--800); }
.bg--warm--dark { background: var(--color-warm--800); }
.bg--blue--dark { background: var(--color-blue--800); }
.bg--yellow--dark { background: var(--color-yellow--800); }
.bg--green--dark { background: var(--color-green--800); }
.bg--red--dark { background: var(--color-red--800); }
.bg--brand-red--dark { background: var(--color-brand-red--800); }
.bg--brand-blue--dark { background: var(--color-brand-blue--800); }
