/* TEXT */

.text--mono { font-family: var(--font-family--mono); }

.text--highlight {
    background-color: var(--color-yellow--400);
    padding: 3px 0;
    border-radius: 2px;
    box-shadow: 3px 0 0 var(--color-yellow--400), -3px 0 0 var(--color-yellow--400);
    color: var(--ui-color--black);
}

.text--truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.text--break {
    word-break: break-all;
}

.text--small {
    font-size: var(--font-size--small);
}

.text--large {
    font-size: var(--font-size--large);
}

.nowrap {
    white-space: nowrap;
}

.code {
    color: var(--color-blue--500);
    font-family: var(--font-family--mono);
    background: var(--color-cool--200);
    display: inline-block;
    padding: 0 3px;
    border-radius: 2px;
    font-size: inherit;
    font-weight: inherit;
}

.pre {
    display: block;
    font-family: var(--font-family--mono);
    line-height: 1.6;
    font-size: 1.1em;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background: var(--color-cool--800);
    color: white;
    border-radius: var(--border-radius);
    padding: var(--gap);
    overflow-x: auto;
}

.no-caps { text-transform: initial; }
.all-caps { text-transform: uppercase; }


/* CONTROLS */

.frameless {
    border-color: transparent;
    box-shadow: none;
    background: transparent;
}

.frameless:hover {
    background: transparent;
}

.select {
    box-shadow: 0 0 0 1px var(--border-color);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .3) inset;
    background-color: var(--color-mono--200);
    height: 2em;
    padding: 0 2em 0 .5em;
    font-weight: 500;
}


/* GRID */

.grid {
    display: grid;
    align-items: start;
    justify-items: start;
    max-width: 100%;
}

.grid--gap { grid-gap: var(--gap); }
.grid--gap--small { grid-gap: var(--gap--small); }
.grid--gap--large { grid-gap: var(--gap--large); }

.shift { margin-left: var(--control-height); }
.shift--small { margin-left: var(--control-height--small); }
.shift--large { margin-left: var(--control-height--large); }

.stretch {
    width: 100%;
    justify-items: stretch;
}

/* POSITIONING */

.sticky {
    position: sticky;
    z-index: 2;
    top: 0;
}

.sticky--bottom {
    top: auto;
    bottom: 0;
}


/* VISIBILITY */
.hidden {
    display: none;
}


/* RESPONSIVENESS */

.mobile-only {
    display: none;
}

@media screen and (max-width: 660px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}
