.badge {
    display: inline-grid;
    grid-gap: 4px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    border-radius: 2px;
    border: 0;
    white-space: nowrap;
    text-align: center;
    letter-spacing: .6px;
    font-weight: 500;
    font-size: var(--font-size--small);
    color: var(--ui-background);
    background-color: var(--ui-color--mono);
    line-height: var(--control-height--small);
    height: var(--control-height--small);
    min-width: var(--control-height--small);
    padding: 0 .5em;
    text-decoration: none;
    text-transform: uppercase;
}

.badge--production { background-color: var(--color-brand-red--500); }
.badge--staging { background-color: var(--color-yellow--500); }
.badge--development { background: var(--color-red--700); }

.badge--mono { background-color: var(--ui-color--mono); }
.badge--cool { background-color: var(--ui-color--cool); }
.badge--warm { background-color: var(--ui-color--warm); }
.badge--blue { background-color: var(--ui-color--blue); }
.badge--brand-blue { background-color: var(--ui-color--brand-blue); }
.badge--yellow { background-color: var(--ui-color--yellow); }
.badge--red { background-color: var(--ui-color--red); }
.badge--brand-red { background-color: var(--ui-color--brand-red); }
.badge--green { background-color: var(--ui-color--green); }

.badge[class*="--light"],
.badge[class*="--light"]:hover {
    color: var(--ui-color--black);
}

.badge--mono--light { background-color: var(--color-mono--400); }
.badge--cool--light { background-color: var(--color-cool--400); }
.badge--warm--light { background-color: var(--color-warm--400); }
.badge--blue--light { background-color: var(--color-blue--400); }
.badge--yellow--light { background-color: var(--color-yellow--400); }
.badge--red--light { background-color: var(--color-red--400); }
.badge--green--light { background-color: var(--color-green--400); }
.badge--brand-red--light { background-color: var(--color-brand-red--400); }
.badge--brand-blue--light { background-color: var(--color-brand-blue--400); }

.badge[class*="--outline"] {
    box-shadow: 0 0 0 1px currentColor inset;
    background: transparent;
}

.badge--outline { color: var(--ui-color--mono); }
.badge--mono--outline { color: var(--ui-color--mono); }
.badge--cool--outline { color: var(--ui-color--cool); }
.badge--warm--outline { color: var(--ui-color--warm); }
.badge--blue--outline { color: var(--ui-color--blue); }
.badge--yellow--outline { color: var(--ui-color--yellow); }
.badge--red--outline { color: var(--ui-color--red); }
.badge--green--outline { color: var(--ui-color--green); }
.badge--brand-red--outline { color: var(--ui-color--brand-red); }
.badge--brand-blue--outline { color: var(--ui-color--brand-blue); }

.badge--small {
    font-size: 8px;
    line-height: 14px;
    height: 14px;
    min-width: 14px;
}

.badge--inline {
    height: auto;
    line-height: 1.1;
    padding: 2px 4px;
    text-transform: initial;
    font-size: .85em;
    font-weight: 400;
}

.badge--large {
    line-height: var(--control-height);
    height: var(--control-height);
    min-width: var(--control-height);
    font-size: var(--font-size);
}

.badge--fixed {
    min-width: 14ch;
    max-width: 100%;
}

.badge--round {
    border-radius: var(--control-height--small);
    justify-content: center;
}

.badge--round.badge--small { border-radius: 14px; }
.badge--round.badge--large { border-radius: var(--control-height); }
