.badge {
    font-size: 10px;
    line-height: 1.3;
    display: inline-block;
    border-radius: var(--border-radius);
    margin: 0 var(--gap-small) 0 0;
    background: var(--ui-pale);
    padding: 2px 4px;
}

.badge--outlined {
    box-shadow: 0 0 0 1px var(--ui-info) inset;
    color: var(--ui-info);
    background: transparent;
}

.badge--failure {
    background: var(--ui-failure);
    color: var(--ui-failure--inverse);
}

.badge--success {
    background: var(--ui-success);
    color: var(--ui-success--inverse);
}

.badge--warning {
    background: var(--ui-warning);
    color: var(--ui-warning--inverse);
}

.badge--info {
    background: var(--ui-info);
    color: var(--ui-info--inverse);
}
