.badge {
    display: inline-grid;
    grid-gap: 4px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;

    padding: 0 .8em;
    box-sizing: border-box;

    border-radius: 2px;

    text-align: center;
    white-space: nowrap;

    letter-spacing: 0.6px;
    font-weight: 500;

    color: var(--ui-background);
    background-color: var(--color-mono--500);
    border: 0;
    line-height: 2em;
    font-size: inherit;
    text-transform: uppercase;
}

.badge--inline {
    line-height: inherit;
    text-transform: initial;
    font-size: .8em;
    font-weight: 400;
}

.badge--production { background-color: var(--color-brand-red--500) }
.badge--staging { background-color: var(--color-green--500) }

.badge--mono { background-color: var(--color-mono--500) }
.badge--cool { background-color: var(--color-cool--500) }
.badge--warm { background-color: var(--color-warm--500) }
.badge--blue { background-color: var(--color-blue--500) }
.badge--brand-blue { background-color: var(--color-brand-blue--500) }
.badge--yellow { background-color: var(--color-yellow--500) }
.badge--red { background-color: var(--color-red--500) }
.badge--brand-red { background-color: var(--color-brand-red--500) }
.badge--green { background-color: var(--color-green--500) }

.badge--mono--light {
    background-color: var(--color-mono--400);
    color: var(--ui-color);
}
.badge--cool--light {
    background-color: var(--color-cool--400);
    color: var(--ui-color);
}
.badge--warm--light {
    background-color: var(--color-warm--400);
    color: var(--ui-color);
}

.badge--blue--light {
    background-color: var(--color-blue--400);
    color: var(--ui-color);
}
.badge--yellow--light {
    background-color: var(--color-yellow--400);
    color: var(--ui-color);
}
.badge--red--light {
    background-color: var(--color-red--400);
    color: var(--ui-color);
}
.badge--green--light {
    background-color: var(--color-green--400);
    color: var(--ui-color);
}

.badge--brand-red--light {
    background-color: var(--color-brand-red--400);
    color: var(--ui-color);
}
.badge--brand-blue--light {
    background-color: var(--color-brand-blue--400);
    color: var(--ui-color);
}


.badge--outline {
    box-shadow: 0 0 0 1px currentColor inset;
    color: var(--color-mono--500);
    background: transparent;
}

.badge--mono--outline {
    color: var(--color-mono--600);
    background: transparent;
    box-shadow: 0 0 0 1px currentColor inset;
}
.badge--cool--outline {
    color: var(--color-cool--600);
    background: transparent;
    box-shadow: 0 0 0 1px currentColor inset;
}
.badge--warm--outline {
    color: var(--color-warm--600);
    background: transparent;
    box-shadow: 0 0 0 1px currentColor inset;
}

.badge--blue--outline {
    color: var(--color-blue--600);
    background: transparent;
    box-shadow: 0 0 0 1px currentColor inset;
}
.badge--yellow--outline {
    color: var(--color-yellow--600);
    background: transparent;
    box-shadow: 0 0 0 1px currentColor inset;
}
.badge--red--outline {
    color: var(--color-red--600);
    background: transparent;
    box-shadow: 0 0 0 1px currentColor inset;
}
.badge--green--outline {
    color: var(--color-green--600);
    background: transparent;
    box-shadow: 0 0 0 1px currentColor inset;
}

.badge--brand-red--outline {
    color: var(--color-brand-red--600);
    background: transparent;
    box-shadow: 0 0 0 1px currentColor inset;
}
.badge--brand-blue--outline {
    color: var(--color-brand-blue--600);
    background: transparent;
    box-shadow: 0 0 0 1px currentColor inset;
}

.badge--small {
    line-height: calc(1.1 * var(--font-size));
    height: calc(1.1 * var(--font-size));
    font-size: var(--font-size--small)
}
.badge--large {
    line-height: calc(2.75 * var(--font-size));
    height: calc(2.75 * var(--font-size));
    font-size: var(--font-size--large)
}

.badge--fixed {
    min-width: 12ch;
    max-width: 100%;
}

.badge--round {
    min-width: 3ch;
    padding: 0;
    border-radius: 2.5em;
    justify-content: center;
}

.badge--round.badge--small {
    min-width: 15px;
    font-size: 10px;
}

.badge--round.badge--large {
    min-width: 2.8ch;
}
