.block {
    padding: var(--gap);
    line-height: 1.6;
    font-size: var(--font-size);
}

.block--rounded {
    border-radius: var(--border-radius);
}

.block--small { padding: var(--gap--small) var(--gap) }
.block--large { padding: var(--gap--large) }
