.ctl-group {
    display: flex;
    white-space: nowrap;
}

.ctl-group--inline {
    display: inline-flex;
}

.ctl-group > *:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ctl-group > * + * {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
