.group {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.group--block {
    display: flex;
}

.group--gap > * + * {
    margin-left: var(--gap);
}

.group--gap--small > * + * {
    margin-left: var(--gap--small);
}

.group--nowrap {
    flex-wrap: nowrap;
}

.group--merged {
    flex-wrap: nowrap;
    align-items: stretch;
    white-space: nowrap;
}

.group--merged > *:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.group--merged > * + * {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
