.icon {
    display: inline-flex;
    width: var(--control-height);
    align-items: center;
    justify-content: flex-start;
}

.icon--small {
    width: var(--control-height--small);
    font-size: var(--font-size--small);
}

.icon--large {
    width: var(--control-height--large);
    font-size: var(--font-size--large);
}
