.input {
    display: inline-flex;
    box-sizing: border-box;
    height: var(--control-height);
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--input-background);
    color: var(--input-color);
}

.input--small {
    font-size: var(--font-size--small);
    height: var(--control-height--small);
    border-radius: 2px;
}

.input--large {
    font-size: var(--font-size--large);
}

.input:hover {
    border-color: var(--border-color--hover);
}

.input.frameless {
    color: var(--ui-color);
}

.input.frameless::placeholder {
    color: var(--ui-color--muted);
}

.input.frameless:hover {
    border-color: transparent;
    background: transparent;
}

.input:focus,
.input:focus-within {
    border-color: var(--border-color--focus);
    box-shadow: 0 0 0 2px var(--border-shadow--focus);
    outline: none;
}

.input input,
.input textarea {
    border: 0;
    box-shadow: none;
    flex: 1;
    background: transparent;
}

.input.frameless input,
.input.frameless textarea {
    color: var(--ui-color);
}

.input input::placeholder,
.input textarea::placeholder {
    color: var(--ui-color--muted);
}

.input select {
    line-height: initial;
}

.input--area {
    height: auto;
}

.input--area--fixed {
    resize: vertical;
}

.input * {
    max-height: 100%;
}

.input .icon {
    justify-content: center;
    align-items: center;
}

.input--block {
    display: block;
    width: 100%;
}

.input[disabled] {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
}

select.input {
    padding: 0 2.5em 0 .5em;
    letter-spacing: 0;
}

input.input {
    padding: 0 .5em;
}
