.spinner {
    animation: spin 1.3s infinite linear;
    width: 2em;
    height: 2em;
}

.spinner.button__icon {
    height: 1em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}
