.tabs {
    display: flex;
    align-items: baseline;
    list-style: none;
    border-bottom: var(--tab-slider-size) solid var(--tab-slider-color);
    margin: 0;
}

.tabs__item {
    position: relative;
    top: var(--tab-slider-size);
    padding: var(--gap) var(--gap--large) var(--gap) var(--gap);
    border-bottom: var(--tab-slider-size) solid var(--tab-slider-color);
    color: inherit;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}

.tabs__item:hover {
    color: currentColor;
}

.tabs__item:active,
.tabs__item:focus {
    box-shadow: none;
}

.tabs__item::after {
    content: '';
    position: absolute;
    display: block;
    bottom: calc(-1 * var(--tab-slider-size));
    left: 0;
    height: var(--tab-slider-size);
    width: 0%;
    background: transparent;
    border-radius: var(--tab-slider-size);
    transition: width .4s;
}

.tabs__item--active,
.tabs__item.active {
    font-weight: 500;
}

.tabs__item--active::after,
.tabs__item.active::after {
    background: var(--tab-slider-color--active);
    width: 100%;
}

.tabs__icon {
    width: 1.5em;
}

.tabs__slot {
    margin-left: auto;
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: var(--gap);
    align-items: center;
}

@media screen and (max-width: 660px) {
    .tabs {
        flex-wrap: wrap;
        width: 100%;
        border: 0;
    }

    .tabs__slot {
        width: 100%;
        margin: 0;
        justify-content: start;
        padding: var(--gap) 0;
    }
}
