:root {
    --font-family--mono: Menlo, Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;

    /* Gaps */

    --gap--small: 5px;
    --gap: 10px;
    --gap--large: 20px;


    /* Base components */

    --font-size: 12px;
    --font-size--small: .8em;
    --font-size--large: 1.5em;

    --control-height: 2.3335em;
    --control-height--small: 1.875em;
    --control-height--large: 2.66675em;

    /* UI Colours: black on white */

    --ui-background: white;
    --ui-color: var(--ui-color--black);

    --ui-color--default: var(--color-mono--200);
    --ui-color--default--hover: var(--color-mono--300);

    --ui-color--cta: var(--color-blue--500);
    --ui-color--cta--hover: var(--color-blue--600);

    --ui-color--accent: var(--color-brand-red--500);
    --ui-color--accent--hover: var(--color-brand-red--600);

    --ui-color--inverse: var(--ui-color--white);
    --ui-color--primary: var(--color-blue--600);
    --ui-color--secondary: var(--color-cool--600);
    --ui-color--muted: var(--color-cool--400);

    --ui-color--black: var(--color-mono--800);
    --ui-color--white: white;

    --ui-color--mono: var(--color-mono--600);
    --ui-color--cool: var(--color-cool--600);
    --ui-color--warm: var(--color-warm--600);
    --ui-color--blue: var(--color-blue--600);
    --ui-color--yellow: var(--color-yellow--600);
    --ui-color--green: var(--color-green--600);
    --ui-color--red: var(--color-red--600);
    --ui-color--brand-red: var(--color-brand-red--600);
    --ui-color--brand-blue: var(--color-brand-blue--600);

    --ui-color--mono--pale: var(--color-mono--000);
    --ui-color--cool--pale: var(--color-cool--000);
    --ui-color--warm--pale: var(--color-warm--000);
    --ui-color--blue--pale: var(--color-blue--000);
    --ui-color--yellow--pale: var(--color-yellow--000);
    --ui-color--green--pale: var(--color-green--000);
    --ui-color--red--pale: var(--color-red--000);
    --ui-color--brand-red--pale: var(--color-brand-red--000);
    --ui-color--brand-blue--pale: var(--color-brand-blue--000);


    /* Tabs */

    --tab-slider-size: 2px;
    --tab-slider-color: var(--color-warm--200);
    --tab-slider-color--active: var(--color-blue--500);


    /* Borders */

    --border-color: var(--color-cool--400);
    --border-color--merged: rgba(0,0,0,0.3);
    --border-color--focus: var(--color-blue--600);
    --border-shadow--focus: var(--color-blue--300);
    --border-color--hover: var(--color-blue--500);
    --border-radius: 4px;


    /* Inputs */

    --input-background: var(--ui-color--white);
    --input-background--readonly: var(--color-warm--100);
    --input-background--disabled: var(--color-cool--200);
    --input-color: var(--ui-color--black);
    --input-color--placeholder: var(--color-cool--400);

    /* Frameless */
    --button-background--frameless: var(--ui-color--cool--pale);

}
