.demo {
    --header-bg: rgba(255,255,255,.85);
    --snippet-bg: var(--color-warm--100);

    padding: 0 40px 0 80px;
    display: grid;
    grid-template-rows: 100vh;
}

.dark-mode {
    --header-bg: var(--ui-background);
    --snippet-bg: rgba(0,0,0,.5);
}

.demo__snippet {
    display: grid;
    grid-gap: var(--gap);
    background-color: var(--snippet-bg);
    color: var(--color-cool--500);
    border-radius: 3px;
    padding: var(--gap);
    font-size: 1em;
    line-height: 1.6;
    align-items: start;
    width: 100%;
}

.demo__snippet-source {
    color: var(--color-yellow--600);
}

.demo__snippet-code {
    height: min-content;
    white-space: pre-wrap;
}

/* Inbox */

section {
    border-bottom: 0.5px solid var(--color-warm--300);
    margin-bottom: var(--gap);
    padding-bottom: var(--gap--large);
}

section:last-of-type {
    border-bottom: 0;
}

section > header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    background: var(--header-bg);
    padding: var(--gap--large) 0;

    color: var(--color-blue--500);
    margin: var(--gap--large) 0;

    font-size: 25px;
    line-height: 1;
    font-weight: 300;
}

article {
    border-bottom: 0.5px dashed var(--color-warm--300);
    padding-bottom: var(--gap--large);
    margin: var(--gap--large) 0;
    display: grid;
    grid-gap: var(--gap);
}

article:last-of-type {
    border-bottom: 0;
}

article > header {
    color: var(--color-blue--500);

    position: sticky;
    top: 65px;
    left: 0;
    z-index: 1;

    background: var(--header-bg);
    margin: var(--gap) 0 calc(2 * var(--gap--large));
    padding: 0 0 var(--gap--large);

    font-size: 18px;
    line-height: 1;
    font-weight: 300;
}


