html, body {
    height: 100%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1;
    background: var(--body-background);
    color: var(--body-color);
}

ol, ul {
    list-style: none;
}

hr {
    margin: var(--gap) 0;
    border: 1px dashed var(--color-warm--300);
    border-width: 1px 0 0 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

time, code, pre {
    font-family: var(--font-family--mono);
    font-size: var(--font-size--mono);
    line-height: var(--font__line-height--mono);
    word-wrap: break-word;
    word-break: break-word;
}

img {
    max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin: 0;
}

input,
textarea {
    font-family: var(--font-family);
    font-size: var(--font-size);
    border: 1px solid var(--control-border-color);
    border-radius: var(--control-border-radius);
}

input[readonly],
textarea[readonly] {
    background: var(--color-warm--100);
}

select {
    border: 0;
    box-shadow: 0 0 0 1px var(--control-border-color);
    font-family: var(--font-family);
}

select[multiple] {
    height: auto;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: var(--gap--small);
    height: var(--gap--small);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background: rgba(0,0,0,0.2);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(0,0,0,0.25);
}
