h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, small, strike, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

p {
    margin: var(--gap) 0;
    font-size: 12px;
    line-height: 1.35;
}

a {
    cursor: pointer;
    color: var(--ui-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p a {
    color: var(--ui-prod);
    text-decoration: underline;
}

b {
    font-weight: 700;
}

strong {
    font-weight: 500;
}

h1 {
    font-size: 26px;
    line-height: 1;
    font-weight: 100;
    margin: var(--gap--large) 0;
}

h2 {
    font-size: 21px;
    line-height: 1;
    font-weight: 200;
    margin: var(--gap--large) 0;
}

h3 {
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    margin: var(--gap--large) 0 var(--gap);
}

h4 {
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    margin: var(--gap--large) 0 var(--gap);
    color: var(--ui-muted);
    text-transform: uppercase;
}

h5 {
    font-size: 130%;
    line-height: 1.5;
    font-weight: 400;
    margin: var(--gap) 0;
}

h6 {
    font-size: 12px;
    line-height: 1.25;
    font-weight: 400;
    margin: var(--gap) 0;
    text-transform: uppercase;
    color: var(--ui-muted);
}

small {
    line-height: 1;
    font-size: 80%;
}
