:root {

    /* Typography */

    --font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
    --font-weight: 400;
    --font-size: 12px;

    --font-family--mono: 'Menlo', monospace;
    --font-weight--mono: normal;
    --font-size--mono: 11px;

    /* Gaps */

    --gap: 10px;
    --gap--small: 5px;
    --gap--large: 20px;

    /* Controls */

    --ctl-height: 2em;
    --ctl-height--small: 1.5em;
    --ctl-border-radius: 2px;
    --ctl-border-color: rgba(0,0,0,0.1);

    /* Color Palette */

    --ui-base: #fff; /*mono white*/
    --ui-base--inverse: #242a2e;

    --ui-pale: #F6F6F6;
    --ui-pale--inverse: #000;

    --ui-default: #EDEEEF;
    --ui-default--inverse: #4A4A4A;

    --ui-primary: #2a52a2;
    --ui-primary--inverse: #fff;

    --ui-secondary: #d6d6d0; /*complimantary*/
    --ui-secondary--inverse: #424B54; /*tertiary dark*/

    --ui-tertiary: #E1E9ED;
    --ui-tertiary--inverse: #687789;

    --ui-prod: #FF5A5F;
    --ui-prod--inverse: #fff;

    --ui-stag: #829F59;
    --ui-stag--inverse: #fff;

    --ui-success: #529265;
    --ui-success--inverse: #fff;

    --ui-info: #2c72bb;
    --ui-info--inverse: #DCF2FD;

    --ui-warning: #fbce58;
    --ui-warning--inverse: #866302;

    --ui-failure: #c75068;
    --ui-failure--inverse: #fff;

    --ui-danger: #cb2431;
    --ui-danger--inverse: #fff;

    --ui-muted: #628395; /*tertiary menium*/
    --ui-muted--inverse: #f3f8fb;

}

