.badge {
	display: inline-block;
	height: 21px;
	color: #fff;
	padding: 5px 12px;
	border-radius: 3px;
	letter-spacing: 0.6px;
}

.badge--small {
	width: 22px;
	padding: 5px;
	border-radius: 12px;
	letter-spacing: 0;
	text-align: center;
}

.badge--circular {
	display: inline-block;
	height: var(--badge-height);
	color: #fff;
	padding: 5px 12px;
	border-radius: 3px;
	letter-spacing: 0.6px;
}

.badge--env {
	text-transform: uppercase;
}

.badge--env--production {
	background-color: var(--color-brand-red--500);
}

.badge--env--staging {
	background-color: var(--color-green--500);
}