.badge {
	display: inline-block;
	height: 21px;
	width: auto;
	color: #fff;
	padding: 5px 12px;
	border-radius: 3px;
	letter-spacing: 0.6px;
	background-color: var(--color-cool--500);
	text-transform: uppercase;
	font-weight: 500;
}

.badge--small {
	height: 15px;
	padding: 2px 8px;
	font-size: 10px;
}

.badge--large {
	height: 28px;
    padding: 5px 16px;
    font-size: 18px;
}

.badge--minor	 {
	width: 22px;
	padding: 5px;
	border-radius: 12px;
	letter-spacing: 0;
	text-align: center;
}

.badge--circular {
	display: inline-block;
	height: var(--badge-height);
	color: #fff;
	padding: 5px 12px;
	border-radius: 3px;
	letter-spacing: 0.6px;
}

.badge--colour {
	background-color: var(--colour);
}

/* Variants */

.badge--env--production {
	background-color: var(--color-brand-red--500);
}

.badge--env--staging {
	background-color: var(--color-green--500);
}

.badge--outline {
	box-shadow: inset 0 0 0 2px var(--colour);
	color: var(--colour);
	background-color: #fff;
}

.badge--fixed {
	width: 110px;
	background-color: var(--colour);
}

.badge--outline--fixed {
	box-shadow: inset 0 0 0 2px var(--colour);
	color: var(--colour);
	background-color: #fff;
	width: 110px;
}

.badge--outline--icon {
	box-shadow: inset 0 0 0 2px var(--colour);
	color: var(--colour);
	background-color: #fff;
}

.badge--outline--icon--fixed {
	box-shadow: inset 0 0 0 2px var(--colour);
	color: var(--colour);
	background-color: #fff;
	width: 110px;
}

.badge--icon--fixed {
	color: #fff;
	background-color: #fff;
	width: 110px;
	background-color: var(--colour);
}

.badge--no-caps {
	text-transform: none;
	letter-spacing: 0;
	background-color: var(--colour);
}

/* With icon */

.badge--icon {
	padding-left: 8px;
	padding-right: 12px;
}

.badge--icon>i, .badge--outline--icon>i, .badge--outline--icon--fixed>i, .badge--icon--fixed>i {
	padding: 0 4px 0 0;
}

.badge--icon.badge--fixed {
	width: 124px;
}

/* Hex style */

.badge--hexagon-wrapper {
  width: 22px;
  height: 21px;
  text-align: center;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  margin: 0 3px 0 0;
}

.badge--hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
  color: #fff;
  border-radius: 2px;
}

.badge--hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
  border-radius: 2px;
}

.badge--hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
  border-radius: 2px;
}

.badge--hexagon--production {
	background-color: var(--color-brand-red--500);
}

.badge--hexagon--staging {
	background-color: var(--color-green--500);
}

.badge--hexagon>span {
  z-index: 100;
  position: relative;
  display: inline-block;
  padding: 5px 0;
}

/* Tags */

.tag {
	display: inline-block;
	height: 21px;
	width: auto;
	color: var(--color-mono--700);
	padding: 0 2px 0 12px;
	border-radius: 1px;
	font-weight: 500;
	margin-right: 4px;
}

.tag--green {
	background-color: var(--color-green--300);
}

.tag--yellow {
	background-color: var(--color-yellow--300);
}

.tag--red {
	background-color: var(--color-red--300);
}

.tag--blue {
	background-color: var(--color-blue--300);
}

.tag--cool {
	background-color: var(--color-cool--300);
}

.tag--warm {
	background-color: var(--color-warm--300);
}

.tag--mono {
	background-color: var(--color-mono--300);
}

.tag>a {
	color: #fff;
	padding: 0 0 0 6px;
	margin: 0;
}

.tag>span {
	padding: 4px 5px 0 0;
}

.tag i {
	border-left: 2px solid #fff;
	height: 100%;
	padding: 5px 3px 0 5px;
	top: 0;
}
