button, .button {
    display: inline-flex;
    align-items: center;
    align-self: center;

    box-sizing: border-box;
    height: var(--control-height);
    padding: 0 var(--gap--medium);

    border-radius: var(--control-border-radius);
    border: 0;
    background: var(--color-mono--200);
    color: inherit;

    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 500;

    line-height: 1;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    box-shadow: 0 1px 0 0 var(--button-shadow);

    cursor: pointer;
}

button:hover, button:active, .button--active {
    text-decoration: none;
    background: var(--color-mono--300);
}

button[disabled] {
    background: var(--color-mono--400);
    color: var(--color-mono--200);
    box-shadow: 0 1px 0 0 var(--button-shadow--light);
}

.button--space--l {
    margin-left: var(--gap);
}

.button--space--r {
    margin-right: var(--gap);
}

.button--space--b {
    margin-bottom: var(--gap);
}

.button__icon {
    color: inherit;
    margin-right: var(--gap--small);
    text-align: center;
}

/* Sizes */

.button--small {
    height: var(--control-height--small);
    padding: 3px 8px;
    border-radius: 2px;
    letter-spacing: 0.01em;
    font-size: var(--font-size--small);
}

.button--large {
    height: var(--control-height--large);
    font-size: 18px;
    padding: 8px 22px;
}

/* Colors & styles */

.button--primary {
    background: var(--ui-primary);
    color: var(--ui-primary--inverse);
}

.button--primary:hover, .button--primary:active, .button--primary.button--active  {
    background: var(--ui-primary--active);
}

button[disabled].button--primary {
    background: var(--color-blue--300);
    color: var(--color-blue--400);
    box-shadow: 0 1px 0 0 var(--button-shadow--light);
}

.button--secondary {
    background: var(--ui-secondary);
    color: var(--ui-primary--inverse);
}

.button--secondary:hover, .button--secondary:active, .button--secondary.button--active  {
    background: var(--ui-secondary--active);
}

button[disabled].button--secondary {
    background: var(--color-cool--400);
    color: var(--color-cool--300);
    box-shadow: 0 1px 0 0 var(--button-shadow--light);
}

.button--outline {
    background: #fff;
    color: var(--ui-primary);
    box-shadow: inset 0 0 0 2px var(--ui-primary);
}

.button--outline:hover, .button--outline:active, .button--outline.button--active  {
    background: var(--color-blue--200);
}

button[disabled].button--outline {
    background: #fff;
    color: var(--color-blue--300);
    box-shadow: inset 0 0 0 2px var(--color-blue--300);
}

.button--frameless {
    background: #fff;
    color: var(--ui-primary);
    box-shadow: none;
}

.button--frameless:hover, .button--frameless:active, .button--frameless.button--active  {
    color: var(--ui-primary--active);
    background: #fff;
}

button[disabled].button--frameless {
    background: #fff;
    color: var(--color-blue--300);
    box-shadow: none;
}

/* Icon buttons */
button i {
    margin: 0 8px 0 0;
}

button.icon-only {
    padding: 0 var(--gap);
}

button.icon-only i {
    margin: 0;
}

/* Toggle */

.toggle {
    position: relative; 
    width: 67px;
}

.toggle-checkbox {
    display: none !important;
}

.toggle-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #fff; 
    border-radius: 18px;
}

.toggle-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.toggle-inner:before, .toggle-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 27px; 
    padding: 0; 
    line-height: 27px;
    font-size: 13px; 
    color: #fff; 
    font-weight: 600;
    box-sizing: border-box;
}

.toggle-inner:before {
    content: "On";
    padding-left: 10px;
    background-color: var(--ui-primary); 
    color: #fff;
}

.toggle-inner:after {
    content: "Off";
    padding-right: 10px;
    background-color: var(--color-mono--400); 
    color: #fff;
    text-align: right;
}

.toggle-switch {
    display: block; 
    width: 21px;
    height: 21px; 
    margin: 5px;
    background: #fff;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 36px;
    border: 2px solid #fff; 
    border-radius: 11px;
    transition: all 0.3s ease-in 0s; 
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
    margin-left: 0;
}

.toggle-checkbox:checked + .toggle-label .toggle-switch {
    right: 0px; 
}


.toggle.toggle--small {
    width: 54px;
}

.toggle-inner--small.toggle-inner:before, .toggle-inner--small.toggle-inner:after {
    height: 22px; 
    line-height: 22px;
    font-size: 12px; 
}

.toggle-inner--small.toggle-inner:before {
    padding-left: 9px;
}

.toggle-inner--small.toggle-inner:after {
    padding-right: 7px;
}

.toggle-switch--small.toggle-switch {
    width: 16px;
    height: 16px; 
    margin: 5px;
    right: 28px;
    border-radius: 8px;
}

