input, .input {
    display: inline-flex;
    box-sizing: border-box;
    padding: 0 var(--gap--small);
    height: var(--control-height);
    border-radius: 3px;
    border: 1px solid var(--color-mono--400);
    box-shadow: none;
    width: 100%;

    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1;
    letter-spacing: 0;
    vertical-align: middle;

    cursor: pointer;
}

::placeholder {
    color: var(--color-mono--400);
}

.input--block {
    display: block;
    width: 100%;
}

.input[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.input--small {
    height: var(--control-height--small);
    padding: 2px 4px;
    font-size: var(--font-size--small);
}

textarea.input {
    height: auto;
    line-height: 1.35;
}

/* Grid */
.input-group {
    display: grid;
    height: var(--control-height);
    grid-template-columns: auto 6px 1fr;
    grid-template-rows: auto;
}

/* Labels */

label {
    font-weight: 500;
    font-size: 14px;
    margin: 0 auto;
}

.input-group--input {
    grid-column-start: 2;
    grid-column-end: 4;
}

.label--left {
    display: inline-flex;
    margin: 7px 8px auto 0;
    height: var(--control-height);
  
    display: inline-block;
    vertical-align: middle;
}

.label--top {
    display: inline-block;
    margin: 0 0 6px 0;

}