/* Only things that affect the example page structure and elements are in here */

#main-grid {
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-rows: 220px auto 120px;
}

#header>h1 {
  display: inline-flex;
  grid-column-start: 2;
  height: 42px;
  padding: 16px 0 0 8px;
  vertical-align: middle;
}

#header>h1>strong {
  padding-right: 6px;
}

#header>img {
  display: inline-flex;
  grid-column-start: 2;
  height: 42px;
  vertical-align: middle;
}

#header .feint {
  color: var(--color-cool--300);
  padding: 8px;
  font-size: 22px;
}

#header {
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 50px;
}

#header li {
  list-style-type: none;
  display: inline-block;
  margin: 18px 30px 0 0;
  font-size: 16px;
}

#header a {
  color: var(--color-blue--500);
}

#header a:hover {
  color: var(--color-cool--500);
}

#header i {
  padding-right: 6px;
}


#main-grid>h1>img {
  margin-top: -4px;
}

.item-grid {
  display: grid;
  grid-template-columns: 200px 600px auto;
  grid-column-gap: 50px;
  grid-template-rows: 100%;
  grid-column-start: 2;
  grid-row-start: 2;
}

.item-grid>* {
  grid-column-start: 2;
}

.item-grid hr {
  grid-column-start: 1;
  grid-column-end: 4;
}

.helper {
  color: var(--color-blue--500);
  grid-column-start: 1;
  margin: 0;
  min-height: 62px;
  font-weight: 600;
}

.code {
  grid-column-start: 3;
  background-color: var(--color-warm--100);
  color: var(--color-cool--500);
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 3px;
  font-family: menlo, monospace;
  font-size: 12px;
  height: min-content;
}

.code>em {
  color: var(--color-blue--400);
}

.code>em:nth-child(1) {
  color: var(--color-yellow--600);
}

.subhead {
  color: var(--color-blue--500) !important;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: var(--gap--xlarge) 0 52px 0;
}

.extra-height {
  min-height: 75px;
}

.extra-bottom-pad {
  min-height: 80px;
  margin-bottom: 20px;
}

hr.solid {
  border: 0.5px solid var(--color-warm--300);
  margin-top: 20px;
}

.notes {
  grid-column-start: 1;
  grid-column-end: 3;
}

.forced_divider {
  min-height: 12px;
  display: block;
}

.badge, .tag {
  margin-bottom: 2px;
}

/* Colour */

.colour-grid {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 0;
  margin: 0;
}

.colour-grid td {
  height: 40px;
}

.colour-grid td>div {
  font-weight: 500;
  text-align: center;
  color: var(--color-mono--600);
 }

 .colour-grid .top-header>div {
  width: 80px;

  font-weight: 700;
  color: var(--color-mono--600);
 }

 .colour-grid .header>div {
  width: 80px;
  height: 80px;
  padding: 35px 0;
  font-weight: 700;
  color: var(--color-mono--600);
 }

.colour-grid .mono-000 {
  background-color: var(--color-mono--000);
}
.colour-grid .warm-000 {
  background-color: var(--color-warm--000);
}
.colour-grid .cool-000 {
  background-color: var(--color-cool--000);
}
.colour-grid .blue-000 {
  background-color: var(--color-blue--000);
}
.colour-grid .green-000 {
  background-color: var(--color-green--000);
}
.colour-grid .yellow-000 {
  background-color: var(--color-yellow--000);
}
.colour-grid .red-000 {
  background-color: var(--color-red--000);
}
.colour-grid .brand-red-000 {
  background-color: var(--color-brand-red--000);
}
.colour-grid .brand-blue-000 {
  background-color: var(--color-brand-blue--000);
}

.colour-grid .mono-100 {
  background-color: var(--color-mono--100);
}
.colour-grid .warm-100 {
  background-color: var(--color-warm--100);
}
.colour-grid .cool-100 {
  background-color: var(--color-cool--100);
}
.colour-grid .blue-100 {
  background-color: var(--color-blue--100);
}
.colour-grid .green-100 {
  background-color: var(--color-green--100);
}
.colour-grid .yellow-100 {
  background-color: var(--color-yellow--100);
}
.colour-grid .red-100 {
  background-color: var(--color-red--100);
}
.colour-grid .brand-red-100 {
  background-color: var(--color-brand-red--100);
}
.colour-grid .brand-blue-100 {
  background-color: var(--color-brand-blue--100);
}

.colour-grid .mono-200 {
  background-color: var(--color-mono--200);
}
.colour-grid .warm-200 {
  background-color: var(--color-warm--200);
}
.colour-grid .cool-200 {
  background-color: var(--color-cool--200);
}
.colour-grid .blue-200 {
  background-color: var(--color-blue--200);
}
.colour-grid .green-200 {
  background-color: var(--color-green--200);
}
.colour-grid .yellow-200 {
  background-color: var(--color-yellow--200);
}
.colour-grid .red-200 {
  background-color: var(--color-red--200);
}
.colour-grid .brand-red-200 {
  background-color: var(--color-brand-red--200);
}
.colour-grid .brand-blue-200 {
  background-color: var(--color-brand-blue--200);
}

.colour-grid .mono-300 {
  background-color: var(--color-mono--300);
}
.colour-grid .warm-300 {
  background-color: var(--color-warm--300);
}
.colour-grid .cool-300 {
  background-color: var(--color-cool--300);
}
.colour-grid .blue-300 {
  background-color: var(--color-blue--300);
}
.colour-grid .green-300 {
  background-color: var(--color-green--300);
}
.colour-grid .yellow-300 {
  background-color: var(--color-yellow--300);
}
.colour-grid .red-300 {
  background-color: var(--color-red--300);
}
.colour-grid .brand-red-300 {
  background-color: var(--color-brand-red--300);
}
.colour-grid .brand-blue-300 {
  background-color: var(--color-brand-blue--300);
}

.colour-grid .mono-400 {
  background-color: var(--color-mono--400);
}
.colour-grid .warm-400 {
  background-color: var(--color-warm--400);
}
.colour-grid .cool-400 {
  background-color: var(--color-cool--400);
}
.colour-grid .blue-400 {
  background-color: var(--color-blue--400);
}
.colour-grid .green-400 {
  background-color: var(--color-green--400);
}
.colour-grid .yellow-400 {
  background-color: var(--color-yellow--400);
}
.colour-grid .red-400 {
  background-color: var(--color-red--400);
}
.colour-grid .brand-red-400 {
  background-color: var(--color-brand-red--400);
}
.colour-grid .brand-blue-400 {
  background-color: var(--color-brand-blue--400);
}

.colour-grid .mono-500, .colour-grid .mono-500>* {
  background-color: var(--color-mono--500);
  color: var(--color-mono--200);
}
.colour-grid .warm-500, .colour-grid .warm-500>* {
  background-color: var(--color-warm--500);
  color: var(--color-mono--200);
}
.colour-grid .cool-500, .colour-grid .cool-500>* {
  background-color: var(--color-cool--500);
  color: var(--color-mono--200);
}
.colour-grid .blue-500, .colour-grid .blue-500>* {
  background-color: var(--color-blue--500);
  color: var(--color-mono--200);
}
.colour-grid .green-500, .colour-grid .green-500>* {
  background-color: var(--color-green--500);
  color: var(--color-mono--200);
}
.colour-grid .yellow-500, .colour-grid .yellow-500>* {
  background-color: var(--color-yellow--500);
  color: var(--color-mono--200);
}
.colour-grid .red-500, .colour-grid .red-500>* {
  background-color: var(--color-red--500);
  color: var(--color-mono--200);
}
.colour-grid .brand-red-500, .colour-grid .brand-red-500>* {
  background-color: var(--color-brand-red--500);
  color: var(--color-mono--200);
}
.colour-grid .brand-blue-500, .colour-grid .brand-blue-500>* {
  background-color: var(--color-brand-blue--500);
  color: var(--color-mono--200);
}

.colour-grid .mono-600, .colour-grid .mono-600>* {
  background-color: var(--color-mono--600);
  color: var(--color-mono--200);
}
.colour-grid .warm-600, .colour-grid .warm-600>* {
  background-color: var(--color-warm--600);
  color: var(--color-mono--200);
}
.colour-grid .cool-600, .colour-grid .cool-600>* {
  background-color: var(--color-cool--600);
  color: var(--color-mono--200);
}
.colour-grid .blue-600, .colour-grid .blue-600>* {
  background-color: var(--color-blue--600);
  color: var(--color-mono--200);
}
.colour-grid .green-600, .colour-grid .green-600>* {
  background-color: var(--color-green--600);
  color: var(--color-mono--200);
}
.colour-grid .yellow-600, .colour-grid .yellow-600>* {
  background-color: var(--color-yellow--600);
  color: var(--color-mono--200);
}
.colour-grid .red-600, .colour-grid .red-600>* {
  background-color: var(--color-red--600);
  color: var(--color-mono--200);
}
.colour-grid .brand-red-600, .colour-grid .brand-red-600>* {
  background-color: var(--color-brand-red--600);
  color: var(--color-mono--200);
}
.colour-grid .brand-blue-600, .colour-grid .brand-blue-600>* {
  background-color: var(--color-brand-blue--600);
  color: var(--color-mono--200);
}

.colour-grid .mono-700, .colour-grid .mono-700>* {
  background-color: var(--color-mono--700);
  color: var(--color-mono--200);
}
.colour-grid .warm-700, .colour-grid .warm-700>* {
  background-color: var(--color-warm--700);
  color: var(--color-mono--200);
}
.colour-grid .cool-700, .colour-grid .cool-700>* {
  background-color: var(--color-cool--700);
  color: var(--color-mono--200);
}
.colour-grid .blue-700, .colour-grid .blue-700>* {
  background-color: var(--color-blue--700);
  color: var(--color-mono--200);
}
.colour-grid .green-700, .colour-grid .green-700>* {
  background-color: var(--color-green--700);
  color: var(--color-mono--200);
}
.colour-grid .yellow-700, .colour-grid .yellow-700>* {
  background-color: var(--color-yellow--700);
  color: var(--color-mono--200);
}
.colour-grid .red-700, .colour-grid .red-700>* {
  background-color: var(--color-red--700);
  color: var(--color-mono--200);
}
.colour-grid .brand-red-700, .colour-grid .brand-red-700>* {
  background-color: var(--color-brand-red--700);
  color: var(--color-mono--200);
}
.colour-grid .brand-blue-700, .colour-grid .brand-blue-700>* {
  background-color: var(--color-brand-blue--700);
  color: var(--color-mono--200);
}

.colour-grid .mono-800, .colour-grid .mono-800>* {
  background-color: var(--color-mono--800);
  color: var(--color-mono--200);
}
.colour-grid .warm-800, .colour-grid .warm-800>* {
  background-color: var(--color-warm--800);
  color: var(--color-mono--200);
}
.colour-grid .cool-800, .colour-grid .cool-800>* {
  background-color: var(--color-cool--800);
  color: var(--color-mono--200);
}
.colour-grid .blue-800, .colour-grid .blue-800>* {
  background-color: var(--color-blue--800);
  color: var(--color-mono--200);
}
.colour-grid .green-800, .colour-grid .green-800>* {
  background-color: var(--color-green--800);
  color: var(--color-mono--200);
}
.colour-grid .yellow-800, .colour-grid .yellow-800>* {
  background-color: var(--color-yellow--800);
  color: var(--color-mono--200);
}
.colour-grid .red-800, .colour-grid .red-800>* {
  background-color: var(--color-red--800);
  color: var(--color-mono--200);
}
.colour-grid .brand-red-800, .colour-grid .brand-red-800>* {
  background-color: var(--color-brand-red--800);
  color: var(--color-mono--200);
}
.colour-grid .brand-blue-800, .colour-grid .brand-blue-800>* {
  background-color: var(--color-brand-blue--800);
  color: var(--color-mono--200);
}

.colour-grid .mono-900, .colour-grid .mono-900>* {
  background-color: var(--color-mono--900);
  color: var(--color-mono--200);
}
.colour-grid .warm-900, .colour-grid .warm-900>* {
  background-color: var(--color-warm--900);
  color: var(--color-mono--200);
}
.colour-grid .cool-900, .colour-grid .cool-900>* {
  background-color: var(--color-cool--900);
  color: var(--color-mono--200);
}
.colour-grid .blue-900, .colour-grid .blue-900>* {
  background-color: var(--color-blue--900);
  color: var(--color-mono--200);
}
.colour-grid .green-900, .colour-grid .green-900>* {
  background-color: var(--color-green--900);
  color: var(--color-mono--200);
}
.colour-grid .yellow-900, .colour-grid .yellow-900>* {
  background-color: var(--color-yellow--900);
  color: var(--color-mono--200);
}
.colour-grid .red-900, .colour-grid .red-900>* {
  background-color: var(--color-red--900);
  color: var(--color-mono--200);
}
.colour-grid .brand-red-900, .colour-grid .brand-red-900>* {
  background-color: var(--color-brand-red--900);
  color: var(--color-mono--200);
}
.colour-grid .brand-blue-900, .colour-grid .brand-blue-900>* {
  background-color: var(--color-brand-blue--900);
  color: var(--color-mono--200);
}



