.tabs {
    --slider-size: 2px;

    display: flex;
    align-items: baseline;
    list-style: none;
    border-bottom: var(--slider-size) solid var(--color-warm--100);
    margin: 0;
}

.tabs__item {
    position: relative;
    top: var(--slider-size);
    padding: var(--gap);
    margin: 0 var(--gap--small) 0 0;
    border-bottom: var(--slider-size) solid var(--color-warm--100);
    color: inherit;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
}

.tabs__item:after {
    content: '';
    position: absolute;
    display: block;
    bottom: calc(-1 * var(--slider-size));
    left: 0;
    height: var(--slider-size);
    width: 0%;
    background: transparent;
    border-radius: var(--slider-size);
    transition: width 0.4s;
}

.tabs__item--active {
    font-weight: 500;
}

.tabs__item--active:after {
    background: var(--ui-primary);
    width: 100%;
}

.tab {
    padding: var(--gap);
}
