h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, small, strike, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

p {
    margin: 0 0 var(--gap--large) 0;
    font-size: 13px;
    line-height: 1.6;
    color: var(--color-mono--700);
}

a {
    cursor: pointer;
    color: var(--ui-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

b {
    font-weight: 700;
}

strong {
    font-weight: 700;
}

h1 {
    font-size: 32px;
    line-height: 1;
    font-weight: 300;
    margin: 0 0 var(--gap--large) 0;
    color: var(--color-mono--600);
}

h2 {
    font-size: 25px;
    line-height: 1;
    font-weight: 300;
    margin: 0 0 var(--gap--large) 0;
    color: var(--color-mono--600);
}

h3 {
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
    margin: 0 0 var(--gap--large) 0;
    color: var(--color-mono--600);
}

h4 {
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    margin: 0 0 var(--gap--large) 0;
    color: var(--color-mono--600);
}

h5 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    margin: 0 0 var(--gap) 0;
    color: var(--color-mono--600);
}

h6 {
    font-size: 13px;
    line-height: 1.25;
    font-weight: 600;
    margin: 0 0 var(--gap) 0;
    color: var(--color-mono--600);
}

.caps {
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: var(--color-cool--500);
}

h1.caps {
    font-size: 26px;
}

h2.caps {
    font-size: 21px;
}

h3.caps {
    font-size: 18px;
}

h4.caps {
    font-size: 16px;
}

h5.caps {
    font-size: 15px;
}

h6.caps {
    font-size: 14px;
}


small {
    line-height: 1;
    font-size: 80%;
}

.highlight {
    background-color: var(--color-yellow--400);
    padding: 3px 0;
    border-radius: 2px;
    line-height: 1.6;
    box-shadow: 3px 0 0 var(--color-yellow--400), -3px 0 0 var(--color-yellow--400);
}

.tinted, .bordered {
    padding: 18px;
}

.tinted.green {
    background-color: var(--color-green--100);
}

.tinted.yellow {
    background-color: var(--color-yellow--100);
}

.tinted.red {
    background-color: var(--color-red--100);
}

.tinted.mono {
    background-color: var(--color-mono--100);
}

.bordered.green {
    border: 1px solid var(--color-green--200);
}

.bordered.yellow {
    border: 1px solid var(--color-yellow--200);
}

.bordered.red {
    border: 1px solid var(--color-red--200);
}

.bordered.mono {
    border: 1px solid var(--color-mono--200);
}

ul, li {
    margin: 0 0 var(--gap) 0;
    line-height: 1.6;
}

ul>li {
    margin: 8px 0 0 16px;
    list-style-type: disc;
}

ol>li {
    margin: 8px 0 0 16px;
    list-style-type: decimal;
}